# Tutorial 2

### Last time in the tutorial:

In [ ]:
5/2==2.5

### In the lecture:

In [ ]:
a = 0.3
b = 0.1 + 0.1 + 0.1

print(a == b)
print(a , b)

In [ ]:
c = 5/2
d = 0.5 + 0.5 + 0.5 + 0.5 + 0.5

print(c==d)
print(c,d)

### In the lecture:

### "Floating-point representation errors happen because floats are stored in base-2 (binary) representation, where e.g. 0.1 does not have a finite decimal representation, and therefore must be approximated."

### $$ \frac{m}{2^n} $$

### But 0.5 = 1/2 and 2.5 = 5/2 are both of the form m / 2ⁿ, so they’re stored exactly, and no rounding occurs:

In [ ]:
m = 1
n = 1

print(m/2**n)

### With ````format()````, we can see the decimal places:

In [ ]:
print(format(0.3, ".55f"))
print(format(0.1+0.1+0.1, ".55f"))

print("\n")

print(format(2.5, ".55f"))
print(format(5/2, ".55f"))
print(format(0.5 + 0.5 + 0.5 + 0.5 + 0.5, ".55f"))

<br><br><br>

<br><br><br>

## Integers, floats, scientific notation

1. Run the following three cells:

In [ ]:
n = 246.8458

In [ ]:
round(n)

In [ ]:
int(n)

2. Why this code snippet doesn't work? How to fix it?

In [ ]:
num = '10'


print(num + 5)

3. You want to calculate the energy of a photon with the frequency $\nu = 3 \times 10^{18}$ Hz (X-rays).

$$ E = h \cdot \nu$$

where 
$$ h = 6.62 \times 10^{-34} \; \; [J \cdot s]$$

How to write the expression for energy in Python?

In [ ]:
h  = 
nu = 
E =

4. Run the following cell:

In [ ]:
10e-2 == 0.1

5. How can you express the following numbers in exponential notation?

250, 4500, 20000

6.  Let's consider 7/3.
$$7 = 2 \times 3 +1$$

3 - divisor

2 - quotient, the integer part of the ratio of two numbers

1 - remainder


How to get remainder in Python? How to get integer part in Python?

7. How to check whether 2453588 can be divided by 1684 without remainder?

## Lists

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8]

8. How to select only three first elements of the list?

9. How to select last two elements of the list?

10. How to select every second element in the list?

11. How to add 0 as the last element to the list?

12. How to delete the last element of the list?

<details>
  <summary>Click here</summary>

Method ```pop()``` always deleted the last element of the list. To delete a specific element, ```remove()```.

</details>

13. How to merge two lists?

In [ ]:
a = [1,2]
b = [3,4]

# List comprehension

Reminder: List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

14. Can you find a shorter way to create list A?

In [ ]:
A = []

for d in range(30):
    A.append(d/2)

print(A)

#Your solution:

<br><br><br>

##  Strings and For Loops

In [ ]:
name = 'John Ronald Reuel Tolkien'

**Some useful commands for working with strings**

To separate words inside the string, you can use ```split()```

name.split(" ")

Python strings have special symbols such as ```\t``` and ```\n```. Examples:

To replace all matching parts of the string, we can use ```replace()``` method.

**Try out:**

In [ ]:
print("my\nname")

In [ ]:
print("my\tname")

In [ ]:
name_list = name.split(" ")

print(name_list)

In [ ]:
name.replace("T", "R")

15. How to print "John Ronald" with each word from new line using ```name_list```?

In [ ]:
# Your solution:

# Exercise:

### Working with Lists and If Statements

Let's assume that in some contest jury gave to the participants the following points. The final score is the average of the grades without the lowest and highest values.

```a = [6.7, 8.7, 7.3, 8.0, 7.1, 7.9]```


```b = [5.3, 6.0, 4.5, 7.0, 8.1, 5.9]```

Find a short algorithm to calculate the final score of the participant. At the end of the program, add an ````if```` statement that checks whether the final score is greater than 7. If it is, print the final score using an f-string.
Test your algorithm with both lists.

**Hint:** You can use the following built-in Python functions: ````min()````, ````max()```` , ````sum()````, ````len()````

In [ ]:
a = [6.7, 8.7, 7.3, 8.0, 7.1, 7.9]
b = [5.3, 6.0, 4.5, 7.0, 8.1, 5.9]

In [ ]:
# Your solution: